USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 25/04/2024 11:31:33 CH ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.XXELXT\MSSQL\DATA\QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.XXELXT\MSSQL\DATA\QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[tblChatLieu]    Script Date: 25/04/2024 11:31:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChatLieu](
	[MaCL] [nvarchar](10) NOT NULL,
	[TenCL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblChatLieu] PRIMARY KEY CLUSTERED 
(
	[MaCL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCTHDB]    Script Date: 25/04/2024 11:31:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTHDB](
	[MaHDB] [nvarchar](30) NOT NULL,
	[MaHang] [nvarchar](10) NOT NULL,
	[SoLuong] [float] NOT NULL,
	[DonGia] [float] NOT NULL,
	[GiamGia] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
 CONSTRAINT [PK_tblCTHDB] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHang]    Script Date: 25/04/2024 11:31:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHang](
	[MaHang] [nvarchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[MaCL] [nvarchar](10) NOT NULL,
	[SoLuong] [float] NOT NULL,
	[DonGiaNhap] [float] NOT NULL,
	[DonGiaBan] [float] NOT NULL,
	[Anh] [text] NULL,
	[GhiChu] [text] NULL,
 CONSTRAINT [PK_tblHang] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHDB]    Script Date: 25/04/2024 11:31:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHDB](
	[MaHDB] [nvarchar](30) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayBan] [datetime] NOT NULL,
	[MaKhach] [nvarchar](10) NOT NULL,
	[TongTien] [float] NOT NULL,
 CONSTRAINT [PK_tblHDB] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhach]    Script Date: 25/04/2024 11:31:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhach](
	[MaKhach] [nvarchar](10) NOT NULL,
	[TenKhach] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_tblKhach] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 25/04/2024 11:31:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](15) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
 CONSTRAINT [PK_tblNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblChatLieu] ([MaCL], [TenCL]) VALUES (N'CL01', N'Vải')
INSERT [dbo].[tblChatLieu] ([MaCL], [TenCL]) VALUES (N'CL02', N'Đồng')
INSERT [dbo].[tblChatLieu] ([MaCL], [TenCL]) VALUES (N'CL03', N'Cotton 2 chiều')
GO
INSERT [dbo].[tblCTHDB] ([MaHDB], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDB1504202481142', N'MH001', 1, 350000, 2, 343000)
INSERT [dbo].[tblCTHDB] ([MaHDB], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDB1504202481142', N'MH002', 2, 2500000, 20, 4000000)
INSERT [dbo].[tblCTHDB] ([MaHDB], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDB1504202482000', N'MH005', 1, 2000000, 20, 1600000)
GO
INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaCL], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (N'MH001', N'Bàn trà gỗ', N'CL01', 9, 200000, 350000, NULL, N'Bàn trà d?p')
INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaCL], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (N'MH002', N'Ghế sofa da', N'CL02', 3, 1500000, 2500000, NULL, N'Gh? da sang tr?ng')
INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaCL], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (N'MH003', N'Tủ quần áo gỗ', N'CL01', 3, 3000000, 5000000, NULL, N'T? d?ng qu?n áo')
GO
INSERT [dbo].[tblHDB] ([MaHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB1504202481142', N'NV001', CAST(N'2024-04-15T00:00:00.000' AS DateTime), N'KH002', 4343000)
INSERT [dbo].[tblHDB] ([MaHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB1504202482000', N'NV003', CAST(N'2024-04-15T00:00:00.000' AS DateTime), N'KH004', 1600000)
GO
INSERT [dbo].[tblKhach] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH001', N'Nguyễn Văn X', N'Hà Nội', N'0123456789')
INSERT [dbo].[tblKhach] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH002', N'Nguyễn Thị Y', N'Hồ Chí Minh', N'0987654321')
INSERT [dbo].[tblKhach] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH003', N'Trần Văn Z', N'Đà Nẵng', N'0365478912')
GO
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh]) VALUES (N'NV001', N'Nguyễn Văn A', N'Nam', N'Hà Nội', N'0123456789', CAST(N'1990-05-15T00:00:00.000' AS DateTime))
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh]) VALUES (N'NV002', N'Nguyễn Thị B', N'Nữ', N'Hồ Chí Minh', N'0987654321', CAST(N'1995-10-20T00:00:00.000' AS DateTime))
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh]) VALUES (N'NV003', N'Trần Văn C', N'Nam', N'Đà Nẵng', N'0365478912', CAST(N'1988-03-08T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[tblCTHDB]  WITH CHECK ADD  CONSTRAINT [FK_tblCTHDB_tblHang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[tblHang] ([MaHang])
GO
ALTER TABLE [dbo].[tblCTHDB] CHECK CONSTRAINT [FK_tblCTHDB_tblHang]
GO
ALTER TABLE [dbo].[tblCTHDB]  WITH CHECK ADD  CONSTRAINT [FK_tblCTHDB_tblHDB] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[tblHDB] ([MaHDB])
GO
ALTER TABLE [dbo].[tblCTHDB] CHECK CONSTRAINT [FK_tblCTHDB_tblHDB]
GO
ALTER TABLE [dbo].[tblHang]  WITH CHECK ADD  CONSTRAINT [FK_tblHang_tblChatLieu] FOREIGN KEY([MaCL])
REFERENCES [dbo].[tblChatLieu] ([MaCL])
GO
ALTER TABLE [dbo].[tblHang] CHECK CONSTRAINT [FK_tblHang_tblChatLieu]
GO
ALTER TABLE [dbo].[tblHDB]  WITH CHECK ADD  CONSTRAINT [FK_tblHDB_tblKhach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[tblKhach] ([MaKhach])
GO
ALTER TABLE [dbo].[tblHDB] CHECK CONSTRAINT [FK_tblHDB_tblKhach]
GO
ALTER TABLE [dbo].[tblHDB]  WITH CHECK ADD  CONSTRAINT [FK_tblHDB_tblNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblHDB] CHECK CONSTRAINT [FK_tblHDB_tblNhanVien]
GO
USE [master]
GO
